<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/" class="pure-menu-link">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<div id="author-avatar"></div>
				<div id="author-summary">
					<div id="author-displayname"></div>
					<div id="author-name">secondwtq</div>
					<div id="author-text">狂热的 Web 开发爱好者</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="center-container">
		
		{{> navbar this_url="/blog"}}
		
		<div id="center-container-inner">
			{{#articles}}
				<div id="articles">
					<div class="article-index">
						<div class="article-head">
							<h3><a href="/blog/article/{{id}}">{{title}}</a><span class="article-date">{{article_datefmt post_date}}</h3></h3>
						</div>
						<div class="article-summary">
							{{summary}}
						</div>
						<div class="article-meta">
							{{#if read_count}}
								<span class="small-vert-dived">{{read_count}} read </span>
							{{else}}
								<span class="small-vert-dived">no read </span>
							{{/if}}
							<span class="small-vert-dived">
								{{#if comment_count}}
									{{comment_count}}
								{{else}}
									{{^comment_count}}no{{/comment_count}}
								{{/if}}
								{{plural_auto 'comment' comment_count}} </span>
							by <a href="/user/{{author_id}}">{{username}}</a>
						</div>
					</div>
				</div>
			{{/articles}}
			{{^articles}}
				<div class="no-article">No article yet :D</div>
			{{/articles}}
		</div>
		
	</div>
	
</div>
<script src="/static/external/modernizr.js"></script>
<script src="/static/external/jquery-2.1.4.js"></script>
<script src="/static/js/navsw.js"></script>
<script>navigationSwitchTop('.center-top');</script>
