<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal top-nav">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="#" class="pure-menu-link top-anchor">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<a href="/user/{{author_id}}"><img id="author-avatar" src="{{avatar}}"></img></a>
				<div id="author-summary">
					<a href="/user/{{author_id}}" id="author-name">{{username}}</a>
					<div class="author-text">{{user_title}}</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="center-container">
		
		<div class="center-top">
			<div id="user-meta" class="{{logged_in_class}}">
				<!-- if logged in -->
				<div class="pure-menu pure-menu-horizontal logged-in">
				    <ul class="pure-menu-list">
				        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
				            <a href="/user/{{user.id}}" class="pure-menu-link user-meta-initial">
								<span>{{user.username}}</span>
								<img id="user-avatar" src="{{user.avatar}}"></img>
							</a>
				            <ul class="pure-menu-children">
								<li class="pure-menu-item">
									<a class="pure-menu-link" href="/user/{{user.id}}/settings">Settings</a>
								</li>
				                <li class="pure-menu-item">
									<form action="/user/logout" method="post" id="form-logout">
										<input name="redirecturl" type="hidden" value="/blog/article/{{id}}">
										<a class="pure-menu-link" href="#" onclick="document.getElementById('form-logout').submit();">Logout</a>
									</form>
								</li>
				            </ul>
				        </li>
				    </ul>
				</div>
				<!-- else -->
				<a href="/user/login?redirecturl=/blog/article/{{id}}" class=" not-logged-in top-anchor">Login</a>
			</div>
			<div class="center-top-inner">
				<nav class="pure-menu pure-menu-horizontal top-nav">
					<ul id="nav-top" class="pure-menu-list">
						<li class="pure-menu-item"><a href="/" class="pure-menu-link top-anchor">Index</a></li>
						<li class="pure-menu-item"><a href="/blog" class="pure-menu-link top-anchor">Blog</a></li>
						<li class="pure-menu-item"><a href="/about" class="pure-menu-link top-anchor">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div id="center-container-inner">
			<div class="article-index" id="jump-to-me">
				<div class="article-head load-fade-in">
					<h3 class="no-margin">{{title}}<span class="article-date">{{article_datefmt post_date}}</span></h3>
					<h5 class="article-subtitle">{{subtitle}}</h5>
				</div>
				<div class="article-paragraphs-fade load-fade-in load-delay-2">
					<div class="article-paragraphs">
						<div class="article-paragraphs-fade-placeholder"></div>
						{{#paragraphs}}
							<div class="article-parawrap" id="paragraph-{{id}}">
								{{#if comment_count}}
									<div class="right-floated para-comment-num">{{comment_count}}</div>
								{{/if}}
								<div class="right-floated para-comment-btn">
									<i class="fa fa-comments"></i>
								</div>
								<div class="article-paragraph">
									{{content}}
								</div>
								<div class="article-paragraph-comment-wrapper">
									<div class="article-paragraph-comment-container">
										<h4 class="no-margin">Comments</h4>
										<hr class="grayed" />
										<div class="article-paragraph-comments">
											{{#comments}}
												<div class="article-paragraph-comment">
													<a class="article-paragraph-comment-usercard" href="/user/{{commenter_id}}">
														<img class="user-avatar-small" src="{{avatar}}"></img>
														<div class="usercard-username">{{username}}</div>
													</a>
													<div class="article-comment-content">{{{content}}}</div>
													<span class="article-date">{{comment_datefmt comment_date}}</span>
												</div>
											{{/comments}}
										</div>
										{{^comments}}<div class="no-article-small">No comment yet</div>{{/comments}}
										<form class="pure-form comment-form" method="post" action="/blog/article/{{../id}}/paragraph/{{id}}/comment">
											<div class="labeled-divider">POST A COMMENT</div>
											<textarea name="content"></textarea>
											<div class="comment-form-frame">
												<button class="pure-button">BACK</button>
												<span class="checkbox-switch checkbox-switch-md">
													<input type="checkbox" name="use_markdown" id="checkbox-markdown-{{id}}" class="js-focus-textarea">
													<label for="checkbox-markdown-{{id}}">Use Markdown</label>
												</span>
												<input type="submit" value="POST" class="right-floated pure-button">
											</div>
										</form>
									</div>
								</div>
							</div>
						{{/paragraphs}}
						<div class="article-paragraphs-fade-placeholder"></div>
					</div>
				</div>
				<div class="article-meta load-fade-in load-delay-3">
					{{#if read_count}}
						<span class="small-vert-dived">{{read_count}} read </span>
					{{else}}
						<span class="small-vert-dived">no read </span>
					{{/if}}
					<span class="small-vert-dived">{{^comment_count}}no{{/comment_count}}{{#if comment_count}}{{comment_count}}{{/if}} {{plural_auto 'comment' comment_count}} </span>
					by <a href="/user/{{author_id}}">{{username}}</a>
				</div>
				<hr class="grayed load-fade-in load-delay-3" />
			</div>
			{{^comments}}
				<div class="no-article load-fade-in load-delay-4">No Comments yet :D</div>
			{{/comments}}
			{{#has_comment}}
				<div class="article-comments load-fade-in load-delay-4">
					{{#comments}}
						<div class="article-comment">
							<a class="article-comment-usercard" href="/user/{{commenter_id}}">
								<img id="user-avatar" src="{{avatar}}"></img>
								<div class="usercard-username">{{username}}</div>
							</a>
							<div class="article-comment-content">{{{content}}}</div>
							<span class="article-date">{{comment_datefmt comment_date}}</span>
						</div>
					{{/comments}}
				</div>
			{{/has_comment}}
			<form class="pure-form comment-form article-comment-form load-fade-in load-delay-4" action="/blog/article/{{id}}/comment" method="post">
				<div class="labeled-divider">POST A COMMENT</div>
				<textarea name="content"></textarea>
				<div class="comment-form-frame">
					<button class="pure-button">BACK</button>
					<span class="checkbox-switch checkbox-switch-md">
						<input type="checkbox" name="use_markdown" id="checkbox-markdown-article" class="js-focus-textarea">
						<label for="checkbox-markdown-article">Use Markdown</label>
					</span>
					<input type="hidden" name="redirecturl" value="/blog/article/{{id}}">
					<input type="submit" value="POST" class="right-floated pure-button">
				</div>
			</form>
		</div>
		
	</div>
	
</div>

<div class="btn-back-to-top">
	<a id="to-perfect-view" href="#jump-to-me" class="btn-m anchor-sp">
		<i class="fa fa-circle-o-notch fa-lg"></i>
	</a>
	<a id="back-to-list" class="btn-m back-button anchor-sp">
		<i class="fa fa-chevron-left"></i>
	</a>
</div>

<script src="/static/external/jquery-2.1.4.js"></script>
<!--<script src="/static/external/zepto.js"></script>-->
<!--<script>jQuery = $;</script>-->
<script src="/static/expressus.js"></script>

<script>
	
	var switch_comment = function (wrapper) {
		wrapper.toggleClass('paragraph-comment-show'); }
	
	$('.article-paragraph').on('click', function (e) {
		switch_comment($(this).parent().children('.article-paragraph-comment-wrapper')); });
		
	$('.para-comment-btn').on('click', function (e) {
		switch_comment($(this).parent().children('.article-paragraph-comment-wrapper')); });

	// stackoverflow.com/questions/25125560/prevent-parent-scroll-when-in-child-div
	$('.article-paragraphs').on('mousewheel', function (e) {
	    var event = e.originalEvent, d = event.wheelDelta || -event.detail;
	    this.scrollTop += (d < 0 ? 1 : -1) * 30;
	    e.preventDefault();
	});
	
	// www.abeautifulsite.net/smoothly-scroll-to-an-element-without-a-jquery-plugin-2
	$('a[href^="#"]').on('click', function (e) {
		var target = $($(this).attr('href'));
		if (target.length) {
			e.preventDefault();
			$('html, body').animate({ scrollTop: target.offset().top }, 400);
		}
	});
	
	$(function () {
		if (!window.location.hash)
			$('#to-perfect-view').click(); });
			
	$('#back-to-list').on('click', function (e) {
		$('.load-fade-in').addClass('load-fade-out'); });
		
	$('.js-focus-textarea').on('click', function (e) {
		var textarea = $(this).parents('form').children('textarea');
		textarea.focus();
	});
	
</script>
