<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<div id="author-avatar"></div>
				<div id="author-summary">
					<div id="author-name">secondwtq</div>
					<div class="author-text">狂热的 Web 开发爱好者</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="center-container">
		
		<div class="center-top">
			<div id="user-meta" class="{{logged_in_class}}">
				<!-- if logged in -->
				<div class="pure-menu pure-menu-horizontal logged-in">
				    <ul class="pure-menu-list">
				        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
				            <a href="/user/{{user.id}}" class="pure-menu-link user-meta-initial">
								<span>{{user.username}}</span>
								<img id="user-avatar" src="{{user.avatar}}"></img>
							</a>
				            <ul class="pure-menu-children">
				                <li class="pure-menu-item">
									<form action="/user/logout" method="post" id="form-logout">
										<input name="redirecturl" type="text" class="ex-hidden" value="/blog">
										<a class="pure-menu-link" href="#" onclick="document.getElementById('form-logout').submit();">Logout</a>
									</form>
								</li>
				            </ul>
				        </li>
				    </ul>
				</div>
				<!-- else -->
				<div class="not-logged-in">
					<a href="/user/login?redirecturl=/blog">Login</a>
				</div>
			</div>
			<div class="center-top-inner">
				<nav class="pure-menu pure-menu-horizontal">
					<ul id="nav-top" class="pure-menu-list">
						<li class="pure-menu-item"><a href="/" class="pure-menu-link">Index</a></li>
						<li class="pure-menu-item"><a href="/blog" class="pure-menu-link">Blog</a></li>
						<li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div id="center-container-inner">
			{{#articles}}
				<div id="articles">
					<div class="article-index">
						<div class="article-head">
							<h3><a href="/blog/article/{{id}}">{{title}}</a><span class="article-date">12-08</h3></h3>
						</div>
						<div class="article-summary">
							{{summary}}
						</div>
						<div class="article-meta">
							{{^read_count}}<span class="small-vert-dived">no read </span>{{/read_count}}
							{{#read_count}}<span class="small-vert-dived">{{read_count}} read </span>{{/read_count}}
							<span class="small-vert-dived">{{^comment_count}}no{{/comment_count}}{{#comment_count}}{{comment_count}}{{/comment_count}} comment </span>
							by <a href="/user/{{author_id}}">{{username}}</a>
						</div>
					</div>
				</div>
			{{/articles}}
			{{^articles}}
				<div class="no-article">No article yet :D</div>
			{{/articles}}
		</div>
		
	</div>
	
</div>

<script src="static/expressus.js"></script>
