<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal top-nav">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/" class="pure-menu-link top-anchor">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<a href="/user/{{user.id}}"><img id="author-avatar" src="{{user.avatar}}"></img></a>
				<div id="author-summary">
					<a href="/user/{{user.id}}" id="author-name">{{user.username}}</a>
					<div class="author-text">{{user.title}}</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="center-container">
		{{> navbar this_url="/blog/article/post"}}
		
		<div id="center-container-inner">
			
			<h3 class="center-aligned">
				{{#if indraft}}
				Edit a Draft
				{{else}}
				Post an Article
				{{/if}}
			</h3>
			<hr class="dashed" />
			
			<form id="form-post" class="pure-form pure-form-stacked" method="POST" action="/blog/article/post">
				<fieldset class="pure-group" id="titleset">
					<input type="text" name="title" placeholder="Title" class="pure-u-4-5" value="{{title}}">
					<input type="text" name="subtitle" placeholder="Subtitle" class="pure-u-4-5" value="{{subtitle}}">
					<textarea id="postsummary" name="summary" placeholder="Summary">{{summary}}</textarea>
				</fieldset>
				<hr class="dashed" />
				<textarea id="postarea" name="content" placeholder="Content">{{content}}</textarea>
				<hr class="dashed" />
				<button class="pure-button">Preview</button>
				{{#if indraft}}
				<button class="pure-button" id="save-to-draft" formaction="/blog/article/{{id}}/draft">Save to Draft</button>
				<button type="submit" class="pure-button" formaction="/blog/article/{{id}}/postdraft">Post</button>
				<a href="/blog/article/{{id}}/delete?redirecturl=/blog/article/draft&backurl=/blog/article/{{id}}/draft">
					<button type="button" class="pure-button">Delete</button>
				</a>
				{{else}}
				<button class="pure-button" id="save-to-draft" formaction="/blog/article/draft">Save to Draft</button>
				<button type="submit" class="pure-button" formaction="/blog/article/post">Post</button>
				{{/if}}
				<br/>
			</form>
		</div>
	</div>
	
</div>

<script>
	function postFormCustomized(formname, action) {
		var form = document.getElementById(formname);
		var oldaction = form.action;
		form.action = action;
		form.submit();
		form.action = oldaction;
	}
	$('#save-to-draft').on('click', function () {
		
	});
</script>
