<div class="subpage-container center-aligned">
	<img class="user-avatar-large" src="{{user.avatar}}"></img>
	<hr class="dashed" />
	<h3 class="subpage-title">
		User - 
		{{#if user.displayname}}
			{{user.displayname}} <span class="ex-small halftrans">({{user.username}})</span>
		{{else}}
			{{user.username}}
		{{/if}}
		{{#if display_settings}}
			<a href="/user/{{user.id}}/settings"><i class="fa fa-pencil ex-smaller"></i></a>
		{{/if}}
	</h3>
	<div class="ex-small">The Hidden Foundation</div>
	<hr class="dashed" />
	<div class="ex-small">&lt;{{user.email}}&gt;</div>
	<hr class="dashed" />
	<div class="ex-small">Registered: {{datefmt 'L' user.register_time}}</div>
	<hr class="dashed" />
</div>
