<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal top-nav">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/" class="pure-menu-link top-anchor">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<a href="/user/{{author_id}}"><img id="author-avatar" src="{{avatar}}"></img></a>
				<div id="author-summary">
					<div id="author-displayname">{{user_displayname}}</div>
					<a href="/user/{{author_id}}" id="author-name">@{{username}}</a>
					<div id="author-text">{{user_title}}</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="center-container">
		{{> navbar this_url="/blog/article/post"}}
		
		<div id="center-container-inner">
			
			<h2 class="center-aligned">
				{{#if indraft}}
				Edit a Draft
				{{else}}
				Post an Article
				{{/if}}
			</h2>
			<hr class="dashed" />
			
			<form id="form-post" class="pure-form pure-form-stacked" method="POST" action="/blog/article/post">
				<fieldset class="pure-group" id="titleset">
					<input type="text" autofocus name="title" placeholder="Title" class="pure-u-4-5" value="{{title}}">
					<input type="text" name="subtitle" placeholder="Subtitle" class="pure-u-4-5" value="{{subtitle}}">
					<textarea id="postsummary" name="summary" placeholder="Summary">{{summary}}</textarea>
				</fieldset>
				<hr class="dashed" />
				<textarea id="postarea" name="content" placeholder="Content">{{content}}</textarea>
				<hr class="dashed" />
                
                <div class="tbar-format">
                    <span class="tbar-title">Select a format: </span>
                    <input type="radio" id="format-madoko" name="format" value="madoko" checked>
                    <label for="format-madoko">Madoko</label>
                    <input type="radio" id="format-markdown" name="format" value="markdown">
                    <label for="format-markdown">Markdown</label>
                    <input type="radio" id="format-plaintext" name="format" value="plaintext">
                    <label for="format-plaintext">Plain Text</label>
                </div>
                
				<button class="pure-button" id="btn-preview" type="button">Preview</button>
				{{#if indraft}}
				<button class="pure-button" formaction="/blog/article/{{id}}/draft">Save to Draft</button>
				<button type="submit" class="pure-button" formaction="/blog/article/{{id}}/postdraft">Post</button>
				<a href="/blog/article/{{id}}/delete?redirecturl=/blog/article/draft&backurl=/blog/article/{{id}}/draft">
					<button type="button" class="pure-button">Delete</button>
				</a>
				{{else}}
				<button class="pure-button" formaction="/blog/article/draft">Save to Draft</button>
				<button type="submit" class="pure-button" formaction="/blog/article/post">Post</button>
				{{/if}}
				<br/>
			</form>
		</div>
	</div>
	
</div>

<div class="postp-cont">
	<div class="postp-dialog">
		<div class="postp-tr">
			<a class="postp-trclose">
				<i class="material-icons md-16 md-icon-custom">close</i>
			</a>
		</div>
		<div class="postp-loading">
			<div class="loading">{{> comp_spinner_material spinner_radius=64}}</div>
			<div class="error">
				<div><i class="material-icons md-64">error</i></div>
				An error occurred.
			</div>
		</div>
		<div class="postp">
			<div class="postp-content">
			</div>
			<p>Some Preview</p>
		</div>
	</div>
</div>
{{> ref_dollar}}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		
		function setLoadingViewStatus(cls) {
			document.getElementsByClassName('postp-loading')[0].className = "postp-loading " + cls;
		}
		
		document.getElementsByClassName('postp-trclose')[0].addEventListener("click", function () {
			setLoadingViewStatus("");
			document.querySelector('.postp-cont').classList.remove('show');
			document.getElementsByClassName('postp-content')[0].innerHTML = "";
		});
		
		document.getElementById('btn-preview').addEventListener("click", function () {
			document.getElementsByClassName('postp-cont')[0].classList.add('show');
			setLoadingViewStatus("loading");
			document.getElementsByClassName('postp-content')[0].innerHTML = "";
			
			function error () {
				setLoadingViewStatus("error");
			}
			
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/api/splitpara', true);
			xhr.setRequestHeader('Accept', 'application/json');
			xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
			xhr.onload = function () {
				if (xhr.status === 200) {
					var paras = JSON.parse(xhr.response);
					var ret = "";
					for (var i = 0; i < paras.length; i++) {
						ret += paras[i];
					}
					document.getElementsByClassName('postp-content')[0].innerHTML = ret;
					setLoadingViewStatus("");
				} else {
					error();
				}
			};
			xhr.onerror = function () {
				error();
			};
			xhr.send(JSON.stringify({
				'title': document.querySelector('[name="title"]').value,
				'subtitle': document.querySelector('[name="subtitle"]').value,
				'summary': document.querySelector('[name="summary"]').value,
				'content': document.querySelector('[name="content"]').value
			}));
		});
	});
</script>
