<div id="container">
	
	<div id="left-container">
		<div class="left-top">
			<div class="pure-menu pure-menu-horizontal top-nav">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/" class="pure-menu-link">too-young.me</a></li>
				</ul>
			</div>
		</div>
		<div id="left-center">
			<div id="author-intro">
				<a href="{{config.blog.owner.href}}"><img id="author-avatar" src="{{config.blog.owner.avatar}}"></a>
				<div id="author-summary">
					<div id="author-displayname">{{config.blog.owner.displayname}}</div>
					<a href="{{config.blog.owner.href}}" id="author-name">{{config.blog.owner.name}}</a>
					<div id="author-text">{{config.blog.owner.title}}</div>
				</div>
			</div>
			<br />
			<div class="socials">
				<a href="https://github.com/secondwtq"><i class="fa fa-lg fa-github"></i></a>
				<a href="/feed"><i class="fa fa-lg fa-rss"></i></a>
			</div>
            
            
        {{#if recent_comments}}
            <hr class="dashed" />
            <div class="recent-comments">
                <h3>Recent Comments</h3>
                <ul>
                {{#recent_comments}}
                    <li>
                        {{article_datefmt comment_date}} - 
                        <a href="/user/{{commenter_id}}">{{username}}</a> under
                        <a href="/blog/article/{{article_id}}">{{title}}</a>:
                        <div class="text">{{content}}</div>
                    </li>
                {{/recent_comments}}
                </ul>
            </div>
        {{/if}}
        
		</div>
	</div>
	
	<div id="center-container">
		
		{{> navbar this_url="/blog"}}
		
		<div id="center-container-inner">
			{{#articles}}
				<div id="articles">
					<div class="article-index">
						<div class="article-head">
							<h2><a href="/blog/article/{{id}}">{{title}}</a><span class="article-date">{{article_datefmt post_date}}</span></h2>
						</div>
						<div class="article-summary">
							{{summary}}
						</div>
						<div class="article-meta">
							{{#if read_count}}
								<span class="small-vert-dived">{{read_count}} read </span>
							{{else}}
								<span class="small-vert-dived">no read </span>
							{{/if}}
							<span class="small-vert-dived">
								{{#if comment_count}}
									{{comment_count}}
								{{else}}
									{{^comment_count}}no{{/comment_count}}
								{{/if}}
								{{plural_auto 'comment' comment_count}} </span>
							by <a href="/user/{{author_id}}">{{username}}</a>
						</div>
					</div>
				</div>
			{{/articles}}
			{{^articles}}
				<div class="no-article">No article yet :D</div>
			{{/articles}}
		</div>
		
	</div>
	
</div>
{{> ref_modernizr}}
{{> ref_dollar}}
{{> ref_js src="navsw"}}
<script>navigationSwitchTop('.center-top');</script>
