<div class="subpage-container center-aligned">
	<h3 class="subpage-title">
		<span class="ex-smaller">Settings for </span><a href="/user/{{user.id}}">&lt;{{user.username}}&gt;</a>
	</h3>
	<hr class="dashed" />
	<form class="pure-form pure-form-stacked" method="post" action="/user/{{user.id}}/settings">
		<fieldset>
		<label for="ctl-email">Email</label>
		<input name="email" id="ctl-email" readonly value="{{user.email}}" class="login-input pure-input-rounded">
		<div class="ex-noselect">
			<input name="publicemail" id="ctl-pubemail" type="checkbox" {{#if user.showemail}}checked{{/if}}>
			<label for="ctl-pubemail" class="ex-inline">Show Email In Profile</label>
		</div>
		<label for="ctl-regtime">Register Time</label>
		<input name="register_time" id="ctl-regtime" readonly value="{{datefmt 'L' user.register_time}}" class="login-input pure-input-rounded">
		<label for="ctl-displayname">Display Name</label>
		<input name="displayname" id="ctl-displayname" class="login-input pure-input-rounded" value="{{user.displayname}}">
		<label for="ctl-title">Description</label>
		<input name="title" id="ctl-title" class="login-input pure-input-rounded" value="{{user.title}}">
		<div><a href="/user/{{user.id}}/reset_passwd?redirecturl=/user/{{user.id}}/settings">Reset Password</a></div>
		<br />
		<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</fieldset>
	</form>
</div>