<!DOCTYPE html>
<html class="subpage-html">
<head>
	<meta charset="utf-8">
	<title>{{#if title_}}{{#if forcetitle}}{{title_}}{{else}}{{title_}} - too-young.me{{/if}}{{else}}Untitled{{/if}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">

	<link rel="stylesheet" href="/static/external/font-awesome.css">
	<link rel="stylesheet" href="/static/external/pure.css">
	<link rel="stylesheet" href="/static/external/fonts/material-icons.css">
	
	<link rel="stylesheet" href="/static/css/too-young.css">
	<!--<link rel="stylesheet" href="/static/expressus.css">-->
	
	<link rel="stylesheet" href="/static/css/eus-smallpage.css">
</head>
<body class="subpage-body">

	{{{body}}}
	{{> footer}}

</body>
</html>